<!-- start custom footer snippets -->
<!-- theme chage toggle -->
<label id='theme_toggle_id' class='theme_toggle'>
    <button id='toggleBtn' type='button' class="text_click">
        <i id='toggle_font' class='fa-solid'></i>
    </button>
</label>

<!-- top move toggle -->
<label id='top_move_toggle_id' class='top_move_toggle'>
    <button id='top_move_Btn' type='button' class="top_move_click">
        <i id='top_move_font' class='fa-solid fa-arrow-up'></i>
    </button>
</label>
<!-- end custom footer snippets -->