<!-- start custom footer snippets -->
<label id='theme_toggle_id' class='theme_toggle'>
    <button id='toggleBtn' type='button' class="text_click">
        <span></span>
    </button>
</label>

<!-- theme change -->
<script>
    const btn = document.getElementById('toggleBtn');
    // :root 가상 사용자 속성 엘리먼트 획득 
    const root = document.querySelector(':root');
    // OS가 다크 모드인지 확인
    const prefersDarkScheme = window.matchMedia('(prefers-color-scheme: dark)');
    // 로컬 스토리지
    const currentTheme = localStorage.getItem('theme');

    // 로컬스토리지 색상 체크
    if (currentTheme == 'dark') {
        btn.innerText='☾';
        root.classList.toggle('dark-theme');
    }
    else if (currentTheme == 'light') {
        btn.innerText='☀';
        root.classList.toggle('light-theme');
    }

    // 초기 설정
    let first_theme = btn.innerText;
    if ( first_theme == '' ) {
        // OS가 다크 모드이면
        if (prefersDarkScheme.matches) {
        // 다크 모드 버튼 설정
            btn.innerText='☾';
        }
        else {
            btn.innerText='☀';
        }
    }
    
    btn.addEventListener('click', function() {
        // OS가 다크 모드이면
        if (prefersDarkScheme.matches) {
            // 라이트 모드로 전환
            root.classList.toggle('light-theme');
            let theme = root.classList.contains('light-theme') ? 'light' : 'dark';
            localStorage.setItem('theme', theme);
            //테마가 라이트 모드이면
            if ( theme == 'light' ) {
                btn.innerText='☀';
            }
            else {
                btn.innerText='☾';
            }
        }
        else {
            root.classList.toggle('dark-theme');
            let theme = root.classList.contains('dark-theme') ? 'dark' : 'light';
            localStorage.setItem('theme', theme);
            //테마가 다크 모드이면
            if ( theme == 'dark' ) {
                btn.innerText='☾';
            }
            else {
                btn.innerText='☀';
            }
        }
        //포커스 해제
        setTimeout(() => btn.blur(), 500);
    });

    const footer = document.getElementById('footer');
    const theme_toggle = document.getElementById('theme_toggle_id');
    //뷰포트 높이
    let viewport_height = window.innerHeight;
    //뷰포트 상단부터 footer 까지의 길이
    let footer_top = footer.getBoundingClientRect().top;

    //초기 설정
    if(viewport_height >= footer_top) {
        theme_toggle.classList.add('abs');
    }
    else {
        theme_toggle.classList.remove('abs');
    }

    window.addEventListener('scroll', function() {
        viewport_height = window.innerHeight;
        footer_top = footer.getBoundingClientRect().top;

        //뷰포트에 footer가 보이면
        if(viewport_height >= footer_top) {
            theme_toggle.classList.add('abs');
        }
        else {
            theme_toggle.classList.remove('abs');
        }
    });
    
</script>
<!-- end custom footer snippets -->