<!-- start custom footer snippets -->
<label class="switch">
    <input id="toggleBtn" type="checkbox" checked>
    <span class="slider round"></span>
</label>

<!-- theme change -->
<script>
    const btn = document.getElementById('toggleBtn');
    // :root 가상 사용자 속성 엘리먼트 획득 
    const root = document.querySelector(':root');
    // OS가 다크 모드인지 확인
    const prefersDarkScheme = window.matchMedia('(prefers-color-scheme: dark)');
    // 로컬 스토리지
    const currentTheme = localStorage.getItem('theme');

    // 로컬스토리지 색상 체크
    if (currentTheme == 'dark') {
        root.classList.toggle('dark-theme');
    }
    else if (currentTheme == 'light') {
        root.classList.toggle('light-theme');
    }
    
    btn.addEventListener('click', function() {
        // OS가 다크 모드이면
        if (prefersDarkScheme.matches) {
            // 라이트 모드로 전환
            root.classList.toggle('light-theme');
            let theme = root.classList.contains('light-theme') ? 'light' : 'dark';
            localStorage.setItem('theme', theme);
        }
        else {
            root.classList.toggle('dark-theme');
            let theme = root.classList.contains('dark-theme') ? 'dark' : 'light';
            localStorage.setItem('theme', theme);
        }
    });
</script>
<!-- end custom footer snippets -->