<!-- start custom head snippets -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/theme-change.css">
<script src="https://kit.fontawesome.com/ea974e0c21.js" crossorigin="anonymous"></script>
<!-- end custom head snippets -->
<!-- start theme change -->
<script src="/assets/js/theme_change.js" defer></script>
<!-- end theme change -->
<!-- start toggle position -->
<script src="/assets/js/toggle_position.js" defer></script>
<!-- end toggle position -->
<!-- start commnets add -->
<script src="/assets/js/comments.js" defer></script>
<!-- end commnets add -->